<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cachu.sanvalentin2019" version="0.0.0">
    <name>SV2019</name>
    <description>GCOxASGG</description>
    <author email="guillermocachu06@gmail.com">Guillermo Cachú Osorio</author>
    <engine name="android" />
    <engine name="browser" spec="^5.0.4" />
</widget>
